.signin{
    display:flex;
    height:calc(100vh - 100px);
    .signlcon{
        flex:3;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        .signinheading{
            font-weight: 550;
            font-size:27px;
        }
        div{
            display:flex;
        flex-direction: column;
        gap:10px;
        input{
            height:6vh;
            width:12vw;
        }
        
        }
        button{
            height:6vh;
            background-color: teal;
            width:12vw;
        }
        .signuplink{
            text-decoration: underline;
            color: blue;
        }
    }
    .signrcon{
        flex:2;
        position:relative;
        height:100%;
        background-color: #fcf5f3;
        img{
            width:100%;
           position:absolute;
           right:0px;
        }
    }
}