.map{
    height:100%;
    width:100%;
    border-radius: 10px;

    .mapcontainer{
        display:flex;
        
        .mlcon{
            flex:1;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
                border-radius: 10px;
            }
        }
        .mrcon{
            flex:1;
            .mrwrap{
                padding-left:20px;
                width:100%;
                display:flex;
                flex-direction: column;
               gap:8px;

                :nth-child(1){
                    color:rgb(25, 0, 255);
                }
                :nth-child(2){
                    display:flex;
                    gap:5px;
                    span{
                        color:black;
                    }
                }
                :nth-child(3){
                    font-weight: 600;
                }
            }
        }
    }
}