@import "./index.scss";


*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
a{
  text-decoration: none;
  color: black;
}
.appcon{
  max-width:1366px;
  margin-left:auto;
  margin-right:auto;
  height:100vh;
  width:100vw;
  
  padding-left:20px;
  padding-right:20px;
  display:flex;
  flex-direction:column;

  @include lg{
  max-width:1280px;
  // background-color: red;
}

@include md{
  max-width:768px;
  // background-color: aqua;
}

@include sm{
  max-width:640px;
  // background-color: pink;
}

.navcon{
  height:100px;

}

.contentcon{
  flex:1;
}
}

